body {
    background: linear-gradient(135deg, #000000, #292929);
    color: white;
    font-family: Poppins, sans-serif;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.error-box {
    background: white;
    color: #333;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.error-box h1 {
    font-size: 72px;
    margin-bottom: 10px;
    color: #000000;
}

.btn-volver {
    margin-top: 20px;
    padding: 12px 25px;
    background: #F2B705;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.btn-volver:hover {
    background: #E0A800;
}