<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <link rel="icon" type="image/png" href="{% static 'img/puntoSaberIcono.png' %}">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>

<body>

    <div class="error-box">
        <h1>404</h1>
        <h2>Página no encontrada</h2>
        <p>
            Lo sentimos, la página que estás buscando no existe
            o no tienes permisos para acceder.
        </p>

        <a class="btn-volver" href="{% url 'login' %}">
            Volver al inicio
        </a>
    </div>

</body>
</html>